nav .container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    background-color: var(--light-color);
    padding: var(--search-padding);
    border-radius: var(--border-radius);
}

.search-box input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    color: var(--dark-color);
    font-size: 0.9rem;

}

.search-box input[type="search"]::placeholder{
    color: var(--grey-color);
}

.profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}