.customize-theme{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
    display: grid;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.customize-theme .card{
    background: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 2rem var(--primary-color);
}

/* font customization */

.customize-theme .card .font-size-customization{
    margin-top: 5rem;
}

.customize-theme .card .font-size-customization > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .card .font-size-customization .choose-size{
    display: flex;
    background: var(--secondary-color);
    height: 0.3rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.customize-theme .card .font-size-customization .choose-size span
{
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .card .font-size-customization .choose-size span.active{
    background-color: var(--primary-color);
}


/* colors */
.customize-theme .font-color-customization{
    margin-top: 2rem;
}

.customize-theme .font-color-customization .choose-color{
    background-color: var(--light-color);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .font-color-customization .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .font-color-customization .choose-color span:nth-child(1){
    background-color: var(--primary-color);
}

.customize-theme .font-color-customization .choose-color span:nth-child(2){
    background-color: hsl(52,75%, 60%);
}

.customize-theme .font-color-customization .choose-color span:nth-child(3){
    background-color: hsl(352,75%, 60%);
}

.customize-theme .font-color-customization .choose-color span:nth-child(4){
    background-color: hsl(152,75%, 60%);
}

.customize-theme .font-color-customization .choose-color span:nth-child(5){
    background-color: hsl(202,75%, 60%);
}

.customize-theme .choose-color span.active{
    border:5px solid #fff;
}

/* background */

.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg >div{
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-theme .choose-bg >div.active{
    border: 2px solid var(--primary-color);
}

.customize-theme .choose-bg .bg-1{
    background-color: white;
    color: black;
}

.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);
    color: white;
}

.customize-theme .choose-bg .bg-3{
    background-color: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg > div span{
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
    margin-right: 1rem;
}